.titleHeader {
  color: white;
  font-family: "Fauna One";

}

.slogan {
  color:white;
  font-family: "Fauna One";
  font-style: italic;
}
.tagline {
  margin: 0 auto;
  width: 80%;
  color:white;
  font-family: "Fauna One";
  font-size: 16px;
  padding: 20px;
  padding-bottom: 90px;
}
