/* Events */
.location {
  padding-top: 5px;
}
.event {
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 10px;
  width: 800px;
  border-radius: 10px;
  background-color: white;
}
.event-image {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  padding: 0;
  border-radius: 10px;
}
.event-details {
  width: 500px;
  text-align: left;
  display: inline-block;
}

/* Navbar */
#logo {
  width: 40px;
  height: 40px;
  display: inline-block;
  margin: 2px;
}
