.form-group {

  width: 700px;
  color: white;
  font-family: 'Fauna One';
  margin: 0 auto;


}

.form-control {


}

.demoForm {
height: 900px;

}

.submit-btn {

  font-family: 'Fauna One';
  height: 70px;
  width: 150px;


}
